<!--- <title>@ViewData["Title"] - UnitProject2</title> ---->
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>@ViewData["Title"]</h1>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <hr />
            <p>&copy; 2023 Age Calculator</p>
        </footer>
    </div>
</body>
</html>

