<!--- <title>@ViewData["Title"] - UnitProject2</title> ---->

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>@ViewData["Title"]</h1>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer>
            <hr />
            <p>&copy; 2023 Age Calculator</p>
        </footer>
    </div>
</body>
</html>

